# Documentation
documentation/

# Data directories
data/auxiliary_data/
data/output_data/

# Input data
data/input_data/carrier_bandwidth/*.enc
data/input_data/frequency/*.enc
data/input_data/carrier_bandwidth/bwdistance_km.csv
data/input_data/carrier_bandwidth/bwdlachievbr_kbps.csv
data/input_data/frequency/bwdistance_km.csv
data/input_data/frequency/bwdlachievbr_kbps.csv

# Test
tests/data/input_data/carrier_bandwidth/bwdistance_km.csv
tests/data/input_data/carrier_bandwidth/bwdlachievbr_kbps.csv

# Compressed and image files
*.zip
*.tif

# Python cache
__pycache__/
*.pyc

# Jupyter Notebook
.ipynb_checkpoints
.ipynb_aml_checkpoints

# System files
.DS_Store

# IDE files
.idea/

# Configuration and sensitive files
config*
*.key
*.env

# Log files
logs/

# Azure ML specific
*.amltmp
*.amlignore